[submodule ".local/share/nvim/site/pack/plugins/start/vim-sexp-mappings-for-regular-people"]
	path = .local/share/nvim/site/pack/plugins/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-sexp"]
	path = .local/share/nvim/site/pack/plugins/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-repeat"]
	path = .local/share/nvim/site/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-surround"]
	path = .local/share/nvim/site/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
